/*body {
	background-color:purple;
	font-family: 'Gaegu', cursive;
	letter-spacing: 1.6px;
	line-height: 1.6;
}

#page_title {
	text-align: center;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: white;
	font-size: 3em;
	font-weight: bolder; 
	border: black 5px solid; 
	box-shadow: 12px 5px 5px darkgrey;
}

.top-nav-item {
	margin: 10px;
	color: violet;
	text-decoration: none;
}

img {
	border: black 3px solid ;
	box-shadow: 10px 5px 5px darkgrey;
	float: left;
	width: 315px;
	margin-right: 20px;
}

.top-nav-item:hover {
	color: grey;
	border-bottom: 3px solid grey;
}

#current_page {
	border-bottom: 3px solid violet;

} 

#page_content {
	width: 85%;
	margin: auto;
}
*/
#description {
	padding: 20px;
	color: black;
	background-color: snow;
	min-height: 450px;
	box-shadow: 15px 8px 5px darkgrey;
	border: black 5px solid;
}

/*#top-nav {
	text-align: right;
}

#paragraphs {
	font-size: 1.7em;
}*/