body {
	background-image: url("background.jpg");
	outline-width: 100%;
	image-rendering: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
}

#top-nav {
	color:white;
	text-decoration: none;
}




